/* Styling for the accordion menu */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
}

/* Styling for the active (clicked) accordion menu */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Styling for the panel (content) of the accordion menu */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.answer {
  color: black;
  font-size: 15px;
}

  p + p {
    margin-top: -0.8em; /* adjust the value as needed */
  }
